<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OS26</title>
    <meta name="description" content="OS26" />
    <meta property="og:title" content="OS26" />
    <meta property="og:description" content="OS26" />
    <meta name="twitter:title" content="OS26" />
    <meta name="twitter:description" content="OS26" />
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
